		<div class="container">
			<div class="col-xs-6 col-md-3 well">.col-xs-6 .col-md-4</div>
	        <div class="col-xs-6 col-md-6">
	          <%= render :partial => 'jobs_index' %>
	        </div>
	        <div class="col-xs-6 col-md-3 well">.col-xs-6 .col-md-4</div>
        </div>


