<div class="banner text-center">   
      <h1 class = "colorfff">Lorem ipsum dolor sit amet</h1>
      <h3 class="colorfff">Lorem ipsum dolor sit amet, facilisis egestas sodales non luctus,<br>
        sem quas potenti malesuada vel phasellus.</h3>
      <%= link_to "Sobre nós", sobre_nos_path, :class => 'banner_btn' %>
</div>